<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
<nav class="navbar">
    <button class="nav-button" routerLink="/products">Productos</button>
</nav>
<div class="container">
    <body id="admin-html">
        <app-navbar
            [activeSection]="'PRODUCTOS'">
            <div class="header">
                <div class="header-left">
                    <h2 class="text-black">Productos</h2>
                    <button class="new-product-btn" (click)="createProduct()">
                        <i class="fas fa-plus"></i> Nuevo producto
                    </button>
                </div>
            </div>
            <div *ngIf="products.length > 0" class="overflow-x-auto">
                <table class="w-full text-sm text-left text-black">
                    <thead class="text-xs uppercase text-black bg-gray-200">
                        <tr>
                            <th scope="col" class="px-4 py-3">C&oacute;digo</th>
                            <th scope="col" class="px-4 py-3">Nombre</th>
                            <th scope="col" class="px-4 py-3">Tamaño</th>
                            <th scope="col" class="px-4 py-3">Color</th>
                            <th scope="col" class="px-4 py-3">Stock</th>
                            <th scope="col" class="px-4 py-3">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b" *ngFor="let product of products; index as productIndex">
                            <td class="px-4 py-3 table-cell">{{product.code}}</td>
                            <td class="px-4 py-3 table-cell">{{product.name}}</td>
                            <td class="px-4 py-3 table-cell">{{product.size}}</td>
                            <td class="px-4 py-3 table-cell">{{product.color}}</td>
                            <td class="px-4 py-3 table-cell">{{product.stock}}</td>                            
                            <td class="px-4 py-3 action-buttons">
                                <button class="edit-button" routerLink="/product/edit/{{product.id}}">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-navbar>
    </body>
</div>